*{
    margin: 0;
    padding: 0;
}
header{
    background-image:url(images/desktop/image-header.jpg) ;
    background-position: center;
    background-size: cover;
    height: 50vh;
    padding: 80px;

}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;

}
header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

header a{
    display: block;
    text-decoration: none;
    color: white;
}
header h1{
    text-align: center;
    text-transform: uppercase;
}
.arrow{
    display: block;
    margin: auto;
}
box{
    border-radius: 20px;
    color:black ;
    padding: 12px;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: white;
    justify-content: center;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    

    grid-template-columns:2fr 3fr 1fr ;
    grid-template-columns:repeat(2 ,1fr);

    
}
main div{
    height: 70vh;
    padding-inline: 30%;
}


.box1,.box4{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    

}
.box1>h4{
    border-bottom: 5px solid yellow;
    width: max-content;
    padding: 10px;
    line-height: 0.4em;

}
.box1>h4:hover{
    border-bottom: 5px solid rgb(199, 202, 39);
}
.box4>h4{
    border-bottom: 5px solid pink;
    width: max-content;
    padding: 10px;
    line-height: 0.4em;

}
.box4>h4:hover{
    border-bottom: 5px solid rgb(231, 91, 114);
}
main>div{
    border: 2px solid transparent;
    height: 30vh;
}
main>div.box2{
    background-image:url(./images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover ;
    height: 30vh;
    padding: 200px;

}
main>div.box3{
    background-image:url(./images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover ;
    height: 30vh;
    padding: 200px;

}
main>div.box6{
    background-image:url(./images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover ;
    height: 30vh;
    padding: 200px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    gap: 20px;

}
main>div.box5{
    background-image:url(./images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover ;
    height: 30vh;
    padding: 200px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
}



}

